<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forget Password</title>
    <meta content="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>

    <link th:href="@{/assets/css/auth.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/assets/css/auth.css">
</head>
<body id="auth-body">

<div id="auth-content">

    <header>

        <h1>Forget Password</h1>
    </header>

    <div class="shadow lg mb-5 bg-white rounded" id="auth-box-password">


        <div id="auth-form">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <small>Email-id entered is wrong, Please enter correct id.</small>
                </div>
            </div>


            <div th:if="${passwordSuccess}">
                <div class="alert alert-success" role="alert">
                    <small>Reset Link sent successfully.Reset Passwordand Continue..</small>
                </div>
            </div>

            <form th:action="@{/forget-password-process}" action="/forget-password-process" method="post"
                  id="forgetPasswordForm">

                <h6 id="para">We'll send a recovery link to</h6>

                <input type="email" required class="form-control custom-input" placeholder="Enter Email" id="email" name="email">
                <input type="submit" id="submitBtn" value="Send Recovery Link" class="btn btn-primary form-control"/>
            </form>
        </div>
    </div>

    <footer>
        <div class="marginTop">
            <a id="linkSelector" th:href="@{/login}">
                Return to login
            </a>
        </div>
    </footer>
</div>
</body>

<script>

    $(function () {
        $(".alert-danger").fadeTo(2000, 500).slideUp(100, function () {
            $(".alert-danger").alert('close');
        });
    });

    $(function () {
        $(".alert-success").fadeTo(2000, 500).slideUp(100, function () {
            $(".alert-success").alert('close');
        });
    });
</script>

</html>