#auth-body {
    background-color: #0747A6;
}

body{
    background-image: url("../images/technology-bg.jpg");

}
#auth-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/*Heading*/

header {
    margin-top: 20px;
    text-align: center;
    display: block;
}

header > h1 {
    font-weight: bold;
    font-size: 50px;
    color: white;
    display: inline-block;
    position: relative;
}

header > h6 {
    margin-top: 30px;
    font-weight: normal;
    font-size: 18px;
    color: white;

}

#emailIncorrect {
    color: red;
    margin-bottom: 20px;
    font-weight: bold;
}

.errorText {
    color: red;
    margin-bottom: 20px;
    font-weight: bold;
}

.myBtn {
    height: auto;
}

/*Login Box */
#auth-box {
    margin-top: 80px;
    width: 400px;
    height: auto;
    text-align: center;
}

#auth-box-signup {
    margin-top: 60px;
    width: 800px;
    height: auto;
    text-align: center;
}

#auth-box-password {
    margin-top: 80px;
    width: 400px;
    height: auto;
    text-align: center;
}

#auth-form {
    padding: 40px;
}

#auth-form > input {
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.custom-input {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 1px solid #78B3FF;
    box-shadow: #78B3FF;
}

#submitBtn {
    margin-top: 10px;
    background-color: #0052CC;
}

#submitBtn:hover {
    background-color: #007bff;
}

/*Footer*/

footer > div {
    text-align: center;
    color: white;
}

#forgetPassword {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
    cursor: pointer;
}

#forgetPassword:hover {
    text-decoration: underline;
}

#linkSelector {
    color: white;
    margin-top: 90px;
}

#linkSelector:hover {
    text-decoration: underline;
}

.marginTop {
    margin-top: 40px;
}

sup {
    color: red;
}

#para {
    text-align: left;
    color: rgb(107, 119, 140);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33333;
}

.newPass {
    text-align: left;
    color: rgb(107, 119, 140);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33333;
}

#showPassDiv {
    top: 0px;
    margin-top: -25px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

#spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
#spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
#spinner:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#spinner:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}







