<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">

<body>

<div th:fragment="header(loggedUser)">
    <header>

        <nav class="navbar navbar-expand-sm  fixed-top customNav">

            <!--Toggle Button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">


                <!--Navbar Images-->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item">

                        <a class="nav-link" href="#"><img
                                th:src="@{assets/images/reap-ed280031215032f3350f114b95893a51.png}" height="30"
                                width="120" alt="logo1"/></a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="#"><img
                                th:src="@{assets/images/text_footer-8f0e1eb9c8ec931dcc66dbcdc631fe64 .png}" height="30"
                                width="400" alt="logo2"/></a>

                    </li>

                </ul>


                <!--Nav Links-->
                <div class="collapse navbar-collapse justify-content-end">

                    <ul class="nav navbar-nav navbar-right dashboardList justify-content-end pull-right"
                        style="align-items: center; margin-right: 30px;">

                        <li class="nav-item nav-menu marginRight listItem active">

                            <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a>

                        </li>

                        <li class="nav-item nav-menu marginRight listItem ">

                            <a class="nav-link" th:href="@{/badge/}"><i class="fas fa-award"></i>Badges</a>

                        </li>
                        <li class="nav-item nav-menu marginRight listItem " sec:authorize="hasAuthority('ADMIN')">

                            <a class="nav-link" href="/item-warehouse"><i class="fas fa-award"></i>Items</a>

                        </li>

                    </ul>


                    <!--Profile Modal DropDown-->


                    <ul class="navbar-nav" style="margin-right: 30px;">

                        <li class="nav-item dropdown">

                            <a id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="receiverImage"
                                     th:src="@{''+${loggedUser.imageUrl}}"
                                     alt="">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenu">

                                <div class="profileModal">

                                    <div class="profileModalContent">

                                        <h4 class="userName" th:text="${loggedUser.firstName}">Hello</h4>

                                        <div class="row" style="margin-top: 10px">

                                            <!--Profile Image-->
                                            <div class="col-md-4">
                                                <img th:src="@{''+${loggedUser.imageUrl}}"
                                                     width="80px" height="80px" alt="">
                                            </div>

                                            <!--Profile Info-->
                                            <div class="col-md-8">

                                                <div class="row">
                                                    <div class="col-md-4 profileModalFontNormal">
                                                        <p>Name:</p>
                                                        <p>Email:</p>
                                                    </div>
                                                    <div class="col-md-8 profileModalFontBold">
                                                        <p class="userName" th:text="${loggedUser.lastName}"></p>
                                                        <p class="userEmail" th:text="${loggedUser.email}"></p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <br>

                                    <!--Profile Footer-->
                                    <div class="clearfix profileFooter">
                                        <a class="footerLeft">Guidelines</a>
                                        <a class="footerRight" href="/logout">Logout</a>
                                    </div>

                                </div>

                            </div>


                        </li>

                    </ul>

                </div>


            </div>

        </nav>

    </header>

</div>

</body>
</html>