<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel=" shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/signup.css"
          th:href="@{/assets/css/signup.css}">
    <link rel="stylesheet" href="../../static/assets/css/signup.css">
    <script type="text/javascript" src="../static/assets/js/signup.js" th:src="@{/assets/js/signup.js}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">

                        <div class="col-xs-12">
                            <a href="#" style="text-decoration-color: #1CB94A;font-weight: bold">Login</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <!-- Login  -->

                            <div id="auth-form">

                                <div th:if="${error}">
                                    <div class="alert alert-danger" role="alert">
                                        <small>Bad Credentials, Please Try Again</small>
                                    </div>
                                </div>

                                <div th:if="${param.logout}">
                                    <div class="alert alert-success" role="alert">
                                        <small>Logout successfully</small>
                                    </div>
                                </div>

                                <div th:if="${expire}">
                                    <div class="alert alert-danger" role="alert">
                                        <small>Reset Password Link is Expired</small>
                                    </div>
                                </div>


                                <div th:if="${passwordsuccess}">
                                    <div class="alert alert-success" role="alert">
                                        <small>Reset Password Link Sent,Please Reset Password and continue.</small>
                                    </div>
                                </div>

                                <div th:if="${resetPassword}">
                                    <div class="alert alert-success" role="alert">
                                        <small>Password Successfully Updated, Please Log in.</small>
                                    </div>
                                </div>
                            </div>
                            <form id="login-form" action="/perform-login" method="post"
                                  th:action="@{/perform-login}" role="form" style="display: block;">
                                <div class="form-group">
                                    <label>User Name*</label>
                                    <input type="text" required name="email" id="username"
                                           tabindex="1"
                                           class="form-control" placeholder="Username" value=""/>
                                </div>
                                <div class="form-group">
                                    <label>Password*</label>
                                    <input type="password" required name="password" id="password1"
                                           tabindex="2"
                                           class="form-control" placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" onclick="myFunction()"/>Show Password
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-login" value="Log In"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="forgetPassword.html" th:href="@{/forget-password}" tabindex="5"
                                                   class="forgot-password">Forgot Password?</a>
                                            </div>
                                            <div class="marginTop">
                                                <a id="linkSelector" href="signup.html" th:href="@{/signup}">
                                                    Sign up for an account
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <script>

                    $(function () {
                        $(".alert-danger").fadeTo(2000, 500).slideUp(100, function () {
                            $(".alert-danger").alert('close');
                        });
                    });

                    $(function () {
                        $(".alert-success").fadeTo(2000, 500).slideUp(100, function () {
                            $(".alert-success").alert('close');
                        });
                    });

                    function myFunction() {
                        var x = document.getElementById("password1");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>